@using src.Shared
@using src.Data

<div class ="card-box">
    <DetailCard Experiment="@Experiment" EditCTCallback="executeCtCallback" EditExpCallback="executeExpCallback"></DetailCard>
    <DetailCard ClinicalTest="@ClinicalTest" Experiment="@Experiment" EditCTCallback="executeCtCallback" EditExpCallback="executeExpCallback"></DetailCard>
</div>

@code {
    [Parameter, EditorRequired]
    public Experiment Experiment { get; set; } = new();
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();
    [Parameter, EditorRequired]
    public EventCallback editCTCallback { get; set; } = default;
    [Parameter, EditorRequired] 
    public EventCallback editExpCallback { get; set; } = default;

    public async void executeCtCallback ()
    {
        await editCTCallback.InvokeAsync(); 
    }
    public async void executeExpCallback ()
    {
        await editExpCallback.InvokeAsync(); 
    }
}
