@using src.Shared
@using src.Data

<div class="grid-container">
    <div class="navbar">
        <Navbar ClinicalTestTitle="@ClinicalTest.Title"
                ExperimentNumber="@Experiment.ExperimentNumber"></Navbar>
    </div>
    <DetailCard IsExperiment="true" Experiment="@Experiment"></DetailCard>

    <DetailCard IsExperiment="false" ClinicalTest="@ClinicalTest"></DetailCard>
</div>


@code {
    [Parameter]
    public Experiment Experiment { get; set; }
    [Parameter]
    public ClinicalTest ClinicalTest { get; set; }

}
