@using src.Shared
<div class="gridContainer">
    <div class="navbar">
        <Navbar ClinicalTestTitle="AsD"
                ExperimentTitle="DaS"></Navbar>
    </div>
    <div class="leftCard">LeftCard</div>
    <div class="rightCard">RightCard</div>
</div>


@code {
    
}
