.left-card {
    grid-area: leftcard;
    background-color: var(--leftcard-color);
    margin: 3vh 4vw 3vh 8vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.right-card {
    grid-area: rightcard;
    background-color: var(--rightcard-color);
    margin: 3vh 4vw 3vh 8vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.my-card-header {
    border: hidden;
    margin: 20px 30px 0px 20px;
}

.hr-line {
    align-self: center;
    color: white;
    width: 35vw;
}

.info-cumtainer {
    display: flex;
    flex-direction: row;
    padding: 0px, 20px, 0px, 20px;
}

.icons {
    margin-left: 20px;
    font-size: 24px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icons > i {
    margin-bottom: 8px;
}

.description {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 30vw;
    margin: 0 20px 0 54px;
}

h2 {
    color: var(--main-text-color);
    line-height: 1;
    margin: 0px 0px 0px 0px;
    text-align: left;
    font-size: 1.6vw;
    font-weight: 600;
}

h3 {
    font-size: 1vw;
}

.title {
    color: var(--main-text-color);
}

.text-titles > h3 {
    font-weight: 600;
    color: var(--main-text-color);
}

.text-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.main-info {
    margin-left: 25px;
}

.pen-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fa-pen {
  font-size: 1.2vw;
  color: white;
}
