@using src.Shared
@using src.Data

<div class="flex-box">
    <div class="top-part"></div>
    
    <div class ="card-flex-box">
        <DetailCard IsExperiment="true" Experiment="@Experiment"></DetailCard>
        <DetailCard IsExperiment="false" ClinicalTest="@ClinicalTest"></DetailCard>
    </div>
</div>

@code {
    [Parameter]
    public Experiment Experiment { get; set; }
    [Parameter]
    public ClinicalTest ClinicalTest { get; set; }

}
