.modal-content {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.modal-content p {
    margin: 0;
}

.modal-content input, 
.modal-content textarea{
    margin-bottom: 15px;
    width: 100%;
}

.modal-content textarea {
    width: 100%;
    height: 6em;
}

.associator-titles {
    display: grid;
    grid-template-columns: 50% 50%;
}
.associator {
    display: flex;
    justify-content: space-between;
    border: 1px solid #666666;
    border-radius: 2px;
}

.search-experiments,
.associated-experiments {
    width: 50%;
    height: 14rem;
}

.searchbar {
    width: calc(100% - 20px);
    height: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--menu-button-color);
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    margin: 5px 15px 0 5px;
    filter: drop-shadow(0px 2px 1px var(--primary-dark-color));
}

.searchbar i {
    margin-left: 10px;
}

.searchbar input {
    width: 100%;
    height: 25px;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    border: none;
    margin: 0;
    font-size: 12px;
}

input:focus {
    outline: none;
}

.experiments-found,
.related-experiments {
    overflow-y: scroll;
    overflow-x: visible;
    height: calc(100% - 30px);
}

.related-experiments {
    height: 100%
}

.experiments-found p,
.related-experiments p {
    width: calc(100% - 20px);
    border: 3px solid var(--menu-button-color);
    background-color: var(--menu-button-color);
    color: var(--secondary-dark-color);
    border-radius: 10px;
    align-items: center;
    margin: 5px 10px 0 10px;
    font-size: 12px;
    padding-left: 10px;
}

.experiments-found p:hover {
    border: 3px solid var(--secondary-dark-color);
    background-color: var(--secondary-dark-color);
    color: var(--menu-button-color);
    cursor: pointer;
}

.experiment-is-added,
.related-experiments p
{
    background-color: var(--green-btn-color) !important;
    border-color: var(--green-btn-color) !important;
    color: white !important;

}

.experiment-is-added:hover,
.related-experiments p:hover {
    border: 3px solid var(--red-btn-color) !important;
    background-color: var(--red-btn-color) !important;
    color: var(--menu-button-color) !important;
    cursor: pointer;
}