@using src.Data
@using src.Shared

<div class="heatmap-component">
    <div id="toolbar">
        <div id="export-icon" title="Export overview">
            <i class="fa-solid fa-file-export"></i>
        </div>
    </div>
    <div class="heatmap-and-scale">
        <div class="all-heatmap-cells">
            <table class ="heatmap-table">
                <tr class="heatmap-header">
                    @{int j = 1;}
                    @foreach (string chosenTableTitle in ClinicalTest.ChosenTableTitles)
                    {
                        if (chosenTableTitle != null) {
                            <td id="key-number-@j">@chosenTableTitle</td>
                            j++;
                        }       
                    }
                    @foreach (string analyteName in ClinicalTest.AnalyteNames) 
                    {
                        <td>@analyteName</td>
                    }
                </tr>
                @{int i = 0;}
                @foreach(Slide slide in slides)
                {
                    @foreach(Block block in slide.Blocks) {
                        <tr>
                            @{int k = 1;}
                            @foreach (string chosenTableTitle in ClinicalTest.ChosenTableTitles)
                            {
                                if (chosenTableTitle != null)
                                {
                                    <td class="key-number-@k">@block.PatientData[ClinicalTest.TableTitles.IndexOf(chosenTableTitle)]</td>
                                    k++;
                                }
                            }
                            @foreach (Nplicate nplicate in block.Nplicates) 
                            {
                                <td style="background-color: @System.Drawing.ColorTranslator.ToHtml(nplicate.HeatmapColour);"></td>
                            }
                        </tr>    
                    }
                    i++;
                }
            </table>
        </div>
        <div class="color-scale-indicator">
            <i class="fa-solid fa-file-export"></i>
        </div>
    </div>
</div>

@code {

    private List<Slide> slides { 
        get 
        {
            return ClinicalTest.GetSlides();
        }
    }

    [Parameter]
    public ClinicalTest ClinicalTest { get; set; }

    private string cellTitleHelper(Nplicate nplicate) {
        return "";
    }
}
