.ghost {
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(110deg, var(--light-grey) 8%, var(--grey) 38%, var(--light-grey) 54%);
}

td {
    background-color: white;
    border: 0.5px solid rgb(170, 170, 170);
    min-width: 100px;
    height: 20px;
    padding: 3px 6px;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 0;
    text-align: center;
}

.data:hover {
    box-shadow: 0px 0px 0px 5px rgb(170, 170, 170) inset;
}

.selected-td {
    box-shadow: 0px 0px 0px 5px rgb(170, 170, 170) inset !important;
}

tr:first-child td {
    height: 40px;
    font-weight: bold;
    background-color: rgb(39, 80, 53);
    outline: 1px solid rgb(37, 62, 39);
    border-bottom: hidden;
    color: rgb(244, 244, 244);
    position: sticky;
    top: 0;
    text-align: center;
}

    tr:first-child td:first-child {
        z-index: 2;
    }

#key-number-1 {
    z-index: 2;
    min-width: 100px;
    max-width: 100px;
    left: 50.5px;
    white-space: break-spaces;
}

#key-number-2 {
    z-index: 2;
    min-width: 100px;
    max-width: 100px;
    left: 150.5px;
    white-space: break-spaces;
}

#key-number-3 {
    z-index: 2;
    min-width: 100px;
    max-width: 100px;
    left: 250.5px;
    white-space: break-spaces;
}

.key-number-1 {
    position: sticky;
    z-index: 1;
    left: 50.5px;
    white-space: break-spaces;
    outline: 0.5px solid rgb(37, 62, 39);
}

.key-number-2 {
    position: sticky;
    z-index: 1;
    left: 150.5px;
    white-space: break-spaces;
    outline: 0.5px solid rgb(37, 62, 39);
}

.key-number-3 {
    position: sticky;
    z-index: 1;
    left: 250.5px;
    white-space: break-spaces;
    outline: 0.5px solid rgb(37, 62, 39);
}

.line-number {
    text-align: center;
    border-left: none;
    background-color: white;
    outline: 0.5px solid rgb(37, 62, 39);
    position: sticky;
    left: 0;
    z-index: 1;
    min-width: 50px;
}

.flagged-nplicate {
    box-shadow: 0px 0px 0px 3px #ff0000 inset;
}
