#topnavContainer {
    background-color: var(--experiment-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

#topPart {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#leftPart {
    flex: 1;
}
#homeButton {
    margin: 10px 0 0 20px;
    background-color: var(--experiment-color);
    border: none;
    color: var(--main-background-color);
}
i {
    font-size: 30px;
}

#middlePart {
    flex: 10;
}

#rightPart {
    flex: 1;
}

.ct-title {
    font-weight: 600;
}


#navButtonContainer {
    display: flex;
    justify-content: space-between;
}

#navButtonContainer button {
    color: var(--main-background-color);
    background-color: #005bb3;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
    border: 0;
    width: 15vw;
    align-items: center;
    margin-right: 15px;
}

#navButtonContainer button:last-child {
    margin-right: 0;
}

h1 {
    font-size: 30px;
    color: var(--main-text-color);
    line-height: 1;
    margin: 0;
    text-align: center;
}

span {
    align-self: center;
    justify-self: center;
}

#navButtonContainer button:hover {
    /*    color: var(--primary-dark-color);*/
    background-color: var(--clinicaltest-color);
}

#navButtonContainer button.active {
    color: var(--primary-dark-color);
    background-color: var(--main-background-color);
    cursor: default;
}
