@using src.Data

<h1>Overview</h1>
<select name="Data1" id="Data1">
	<option value="SOT">SOT</option>
	<option value="Died">Died</option>
	<option value="BaselineLDH">BaselineLDH</option>
</select>
<select name="Data1" id="Data1">
	<option value="SOT">SOT</option>
	<option value="Died">Died</option>
	<option value="BaselineLDH">BaselineLDH</option>
</select>
<select name="Data1" id="Data1">
	<option value="SOT">SOT</option>
	<option value="Died">Died</option>
	<option value="BaselineLDH">BaselineLDH</option>
</select>

@code {
	[Parameter]
	public ClinicalTest clinicalTest { get; set; }

}

