table {
    overflow: scroll;
}

td, th {
    border: 1px solid gray;
    min-width: 100px;
    height: 20px;
    padding: 2px 5px;
}

td:focus {
    outline: 3px solid rgb(19, 96, 25);
    outline-offset: -1px;
}