.plate {
    background-color: white;
    width: 100%;
/*    height: calc(100vh - 185px);*/
    border: 5px solid var(--primary-dark-color);
    border-radius: 20px;
    margin: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
/*    overflow: scroll;*/
}

td {
    background-color: white;
    border: 0.5px solid rgb(170, 170, 170);
    min-width: 100px;
    height: 20px;
    padding: 3px 6px;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: right;
}

.heading {
    text-align: center;
    border-left: none;
    background-color: white;
    outline: 0.5px solid rgb(37, 62, 39);
    min-width: 50px;
}
