@using src.Data

<div class="plate numSlides@(Slides.Count)">
    <div class="container">
        <div class="Letters">
            @foreach (string letter in headingLetters)
            {
                <div class="heading">@(letter)</div>
            }
        </div>
        @for (int i = 0; i < Slides.Count; i++)
        {
            <div class="Slide-@(i+1)">
                @for (int j = 0; j < 21; j++)
                {
                    <div class="block">
                        @for (int k = 0; k < 3; k++)
                        {
                            <div>Type@(k)</div>
                        }
                    </div>
                }
            </div>
            
        }
        <div class="Numbers">
            @for (int i = 0; i < 12; i++)
            {
                <div class="heading">@(i+1)</div>
            }
        </div>
        @for (int i = 0; i < Slides.Count; i++)
        {
            <div class="Barcode-@(i+1)">
                <input type="text" placeholder="Enter barcode..." value="">
            </div>
        }
        <div class="Empty"></div>
    </div>
</div>


@code
{
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();

    [Parameter]
    public int PlateNumber { get; set; }

    [Parameter, EditorRequired]
    public List<Slide> Slides { get; set; } = new();

    private int findTitleIndex(int i)
    {
        return ClinicalTest.TableTitles.IndexOf(ClinicalTest.ChosenTableTitles[i]);
    }

    private int numCols = 13;
    private int numRows = 9;

    private string[] headingLetters = { "A", "B", "C", "D", "E", "F", "G", "H" };
}
