.plate {
    background-color: white;
    width: 100%;
    border: 5px solid var(--primary-dark-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.heading {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark-color);
    border: 1px solid white;
    color: white;
    min-width: 50px;
    justify-content: center;
}

.block {
    background-color: lightgray;
    border: 1px solid white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.block > div {
    margin-bottom: 2px;
}
.block > div:last-child {
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 7fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Empty Numbers Numbers Numbers Numbers"
        "Letters Slide-1 Slide-2 Slide-3 Slide-4"
        "Letters Barcode-1 Barcode-2 Barcode-3 Barcode-4";
}
.container > div {
    text-align: center;
}

.Letters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        ".";
    grid-area: Letters;
}

.Slide-1, .Slide-2, .Slide-3, .Slide-4 {
    border: none !important;
}
.Slide-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    grid-area: Slide-1;
}
.Slide-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    grid-area: Slide-2;
}
.Slide-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    grid-area: Slide-3;
}
.Slide-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    grid-area: Slide-4;
}

.Numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . . . . . .";
    grid-area: Numbers;
}

.Barcode-1, .Barcode-2, .Barcode-3, .Barcode-4 {
    background-color: lightgray;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
input {
    border-radius: 5px;
    text-align: center;
}
.Barcode-1 {
    grid-area: Barcode-1;
}
.Barcode-2 {
    grid-area: Barcode-2;
}
.Barcode-3 {
    grid-area: Barcode-3;
}
.Barcode-4 {
    grid-area: Barcode-4;
}

.Empty {
    grid-area: Empty;
}

