@using src.Data

<div class="plate numSlides@(Slides.Count)">
	<table id="plate@(PlateNumber)">
        @*Heading row*@
        <tr>
            <td class="heading"></td>
            @for (int i = 0; i < numCols - 1; i++)
            {
                <td class="heading">@(i+1)</td>
            }
        </tr>

        @*Block rows*@
        @for (int i = 0; i < numRows - 2; i++)
        {
            <tr>
                <td class="heading">@(headingLetters[i])</td>
                @for (int j = 0; j < numCols - 1; j++)
                {
                    <td class="block">Type1<br>Type2<br>Type3</td>
                    @*<td class="block">
                        @for (int k = 0; k < 3; k++)
                        {
                            int index = k;
                            @(Slides[i].Blocks[j].PatientData[findTitleIndex(index)])
                            <br>
                        }
                    </td>*@
                }
            </tr>
        }

        @*Barcode row*@
        <tr>
            <td class="heading">@headingLetters[headingLetters.Length-1]</td>
            @for (int j = 0; j < 4; j++)
            {
                <td colspan="3">Barcode slide@(j+1)</td>
            }
        </tr>
	</table>
</div>


@code
{
    [Parameter, EditorRequired]
    public ClinicalTest ClinicalTest { get; set; } = new();

    [Parameter]
    public int PlateNumber { get; set; }

    [Parameter, EditorRequired]
    public List<Slide> Slides { get; set; } = new();

    private int findTitleIndex(int i)
    {
        return ClinicalTest.TableTitles.IndexOf(ClinicalTest.ChosenTableTitles[i]);
    }

    private int numCols = 13;
    private int numRows = 9;

    private string[] headingLetters = { "A", "B", "C", "D", "E", "F", "G", "H" };
}
