.result-table-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.table-view-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 170px);
    overflow: scroll;
}

/* Toolbar */
#toolbar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    justify-content: space-evenly;
}

#toolbar > * {
    display: flex;
    align-items: center;
    height: inherit;
}

#export-icon i {
    font-size: 30px;
    color: var(--secondary-dark-color);
    cursor: pointer;
}

.result-buttons {
    border: none;
    color: var(--primary-dark-color);
    background-color: white;
    font-size: 16px;
}

.result-button-active {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

table {
    overflow: scroll;
}


