@using src.Data
@using src.Shared

<div class="result-table-component">
    <div id="toolbar">
        <button @onclick='() => SetMode("XYZ")' class="result-buttons @mode==XYZ ? 'result-button-active' : ''">
            (X-Y)/Z
            </button>
        <button @onclick='() => SetMode("Log2")' class="result-buttons @mode==Log2 ? 'result-button-active' : ''">
            Log
            <sub>2</sub>
            </button>

        <div id="export-icon" title="Export overview">
            <i class="fa-solid fa-file-export"></i>
        </div>
    </div>
    <div class="table-view-container">
        <table id="result-table">
            @switch(mode) {
                case "Log2": <Log2 ClinicalTest="@ClinicalTest"> </Log2> break;
                case "XYZ": <XYZ ClinicalTest="@ClinicalTest"></XYZ> break;
            }
        </table>
    </div>
</div>

@code {
    private string mode = "XYZ";

    [Parameter]
    public ClinicalTest ClinicalTest { get; set; }


    public void SetMode(string newmode) {
        mode = newmode;
    }
}
