@page "/clinicaltest"
@using src.Data
@using src.Shared
@using Microsoft.Azure.Cosmos

<PageTitle>Clinical Test</PageTitle>

<Navbar 
	ClinicalTestTitle="Delforsøg 3" 
	ExperimentNumber="EXP-22-JE1900" 
	setActiveButtonCallback="@SetActiveButton" 
	ActiveButton="@activeButton">
</Navbar>

<div class="component-container">
	@switch (activeButton)
	{
		case 0:
			<Details Experiment="@ex" ClinicalTest="@ct"></Details>
			break;
		case 1:
			<Overview></Overview>
			break;
		case 2:
			<h1>File Upload</h1>
			break;
		case 3:
			<h1>Result Table</h1>
			break;
		case 4:
			<h1>Heatmap</h1>
			break;
	}
</div>

@code{
	public Experiment ex = new Experiment("1", "EXP-22-JE1900", "Arthur", "Rikke", "basd", DateTime.Now);
    public ClinicalTest ct = new ClinicalTest("5", "Delforsøg 1", 3, "bøv", DateTime.Now);
	private int activeButton { get; set; } = 0;

	private void SetActiveButton(int buttonId)
	{
		activeButton = buttonId;
	}
}