body {
    overflow: hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#experiments-container,
#clinical-test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiments-container {
    width: 60%;
}

#clinical-test-container {
    width: 40%;
}

.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: rgb(245, 245, 245);
    font-size: 30px;
    font-weight: 700;
}

.menu-header img {
    margin-right: 20px;
}

#experiment-header img, #clinical-test-header img {
    height: 60px;
}

#experiment-header {
    background-color: var(--experiment-color);
}

#clinical-test-header {
    background-color: var(--clinicaltest-color);
}

.toolbar {
    display: flex;
/*    justify-content: space-between;*/
    gap: 20px;
    padding: 20px 20px 20px 10px;
    width: 100%;
}

.toolbar i {
    font-size: 20px;
    margin-right: 10px;
}

.toolbar input {
    width: 100%;
    height: 40px;
    border-radius: 0 15px 15px 0;
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}

.searchbar, .ct-searchbar {
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--menu-button-color);
    display: flex;
    justify-content: left;
    align-items: center;
}
.searchbar {
    width: 70%;
}
.ct-searchbar {
    width: 55%;
}

/*.searchbar:focus {
    border: 2px solid var(--grey); 
}*/

.searchbar i, .ct-searchbar i {
    color: var(--primary-dark-color);
    margin-left: 20px;
}

#experiment-grid,
#clinical-test-grid {
    width: 100%;
}

.grid-header, .grid-header-clinicalTest {
    display: grid;
    width: calc(100% - 15px);
    padding: 0 15px 0 15px;
    font-weight: bold;
}
.grid-header {
    grid-template-columns: 16% 18% 28% 16% 22%;
}
.grid-header-clinicalTest {
    grid-template-columns: 48% 20% 32%;
}
.grid-header div,
.grid-header-clinicalTest div {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--primary-dark-color);
}

.all-experiment-cards,
.all-clinicaltest-cards {
    height: calc(100vh - 215px);
    overflow-y: scroll;
}

.clinicaltest-content-empty-true, .no-clinical-tests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clinicaltest-content-empty-true {
    height: calc(100% - 100px);
    width: 100%;
}
.clinicaltest-content-empty-true p, .no-clinical-tests p {
    font-size: 18px;
    margin-bottom: 5px;
}
.no-clinical-tests {
    margin-top: 30vh;
}

.clinicaltest-content-empty-false {
    width: 100%;
    height: calc(100% - 100px);
}
