@page "/tablepage/{clinicalTestId}"

@using src.Data
@using Microsoft.Azure.Cosmos

@inject IJSRuntime JS

@if (clinicalTest == null) {
    <p>Loading...</p>
} 
else 
{
    <OverviewTable 
    clinicalTest="@clinicalTest" />
}

@code {
    [Parameter]
    public string clinicalTestId { get; set; } = "";

    private ClinicalTest? clinicalTest { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            Container? container = DatabaseService.Instance.Database?.GetContainer("ClinicalTest");
            clinicalTest = await container?.ReadItemAsync<ClinicalTest>(clinicalTestId, new PartitionKey(clinicalTestId));
            StateHasChanged();

            await JS.InvokeVoidAsync("listenForPaste");
        }
    }
}